*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

h1,
h2,
p {
    text-align: center;
}

.container {
    padding: 16px;
    margin: 0 auto;
}

.container-img {
    background-image: url(/img/photo.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1000px;
    height: 500px;
}